{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Login Page</title>
</head>

<body>
    <div class="loginform">
        <h4 class="lt">LOGIN</h4>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username">
            <br>
            <input type="password" placeholder="Password" name="password">
            <br>
            <!-- <input type="button" value="Login" class="btn"> -->
            <button name="submit" type="submit" class="btn">Login</button>
        </form>
        <a href="{% url 'register' %}" class="btn"
            style="text-decoration: none; margin-top: 10px; padding: 5px; width: 30%;">Register</a>
    </div>
    {% endblock %}