{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="menu">
    <a href="{% url 'home' %}">Back Home</a>
    <a href="{% url 'adddeveloper' %}">Add Developer</a>
    <a href="{% url 'logout' %}">Logout</a>
</nav>
<div class="divtable">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Status</th>
        </tr>
        {% for developer in developer %}
        <tr>
            <td>{{ developer.id }}</td>
            <td>{{ developer.name }}</td>
            <td>{{ developer.email }}</td>
            <td>{{ developer.contact }}</td>
            <td>{{ developer.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}